.to-top-btn {
  display: none;
}

#navbar .navbar-content .menu {
  display: none;
}

#header {
  position: relative;
}

#navbar .toggler,
#navbar .hamburger {
  display: block;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  height: 30px;
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

#navbar .toggler {
  z-index: 3;
  opacity: 0;
}

#navbar .navbar-content .menu {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  height: 100vh;
  width: 100vw;
  transition: 0.75s 0.1s;
  transform: scale(0.7);
  opacity: 0;
}

#navbar .menu li {
  text-align: center;
  padding: 1rem 1rem;
}

#navbar .menu li a {
  font-size: 2rem;
  padding: 1rem 0;
}

/* Splash overlay Effect */
#navbar .splash-overlay {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.5s;
  transform: scale(0);
  border-radius: 50%;
  opacity: 0;
}

/* Bring the menu in */
#navbar .toggler:checked ~ .menu {
  transform: scale(1);
  opacity: 1;
}

/* Bring the splash overlay in */
#navbar .toggler:checked ~ .splash-overlay {
  opacity: 1;
  transform: scale(2);
}

#navbar .toggler:checked ~ .hamburger {
  position: relative;
}

#navbar .hamburger .line {
  width: 100%;
  height: 5px;
  background: #fff;
  transition: 0.5s;
}

#navbar .toggler:checked ~ .hamburger .line {
  position: absolute;
  top: 90%;
  left: 100%;
  margin: auto;
  /* transform: translateY(-50%); */
}

#navbar .toggler:checked ~ .hamburger .line:nth-child(2) {
  display: none;
}

#navbar .toggler:checked ~ .hamburger .line:nth-child(1) {
  transform: rotate(45deg);
}

#navbar .toggler:checked ~ .hamburger .line:nth-child(3) {
  transform: rotate(-45deg);
}

#showcase .showcase-content h1 {
  margin-bottom: -1rem;
  font-size: 4rem;
}

#showcase .lead {
  margin-bottom: 2rem;
}

#contact .form-container {
  width: 100%;
}

#services .items,
#work .categories,
#testimonials .items {
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}

#about .wrapper {
  grid-template-columns: 1fr;
  overflow: hidden;
}

#contact input[type="submit"] {
  width: 50%;
}

#work {
  background: #fafafa;
}

#testimonials {
  background: #fafafa;
  padding-top: 5rem;
}

#testimonials .items {
  padding: 1rem;
}

#testimonials .items .item {
  padding: 1rem 2rem;
  border-radius: 0px;
  /* -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1); */
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.105),
    -5px -5px 5px rgba(255, 255, 255, 0.708);
}

#testimonials .items .item:last-child {
  grid-column: 1 / span 2;
}

/*==========================
 Smart Phones
 ==========================*/
@media screen and (max-width: 500px) {
  #navbar .menu li a {
    font-size: 1.2rem;
    padding: 0.5rem 0;
  }

  #navbar .toggler:checked ~ .hamburger .line {
    position: absolute;
    top: 90%;
    left: 50%;
    margin: auto;
    transform: translateY(-50%);
  }

  #showcase .showcase-content h1 {
    margin-bottom: -1rem;
    font-size: 2rem;
  }

  #contact .form-container {
    width: 100%;
  }

  #contact .form-container .row100,
  #testimonials .items {
    grid-template-columns: 1fr;
  }

  #testimonials .items .item:last-child {
    grid-column: 1;
  }

  #services .items,
  #testimonials .items,
  #main-footer .footer-top,
  #work .categories,
  #about .wrapper {
    grid-template-columns: 1fr;
    overflow: hidden;
  }

  #services .items .item,
  #about .wrapper {
    flex-direction: column;
    text-align: center;
  }

  #about .section-title,
  #about .top-line {
    margin: auto;
    text-align: center;
  }

  #about .about-info {
    padding-right: 0;
  }

  #contact input[type="submit"] {
    width: 100%;
  }

  #showcase .l-heading {
    font-size: 2rem;
  }

  #showcase .lead,
  #services .item .item-description h3 {
    font-size: 1.2rem;
  }

  #main-footer .footer-top > div {
    padding-bottom: 2rem;
    border-bottom: dotted 1px #3f3f3f;
  }

  #main-footer .footer-top > div:last-child {
    border-bottom: none;
  }

  #main-footer .navigation li:last-child a {
    border-bottom: none;
  }

  #main-footer .copy p {
    margin-right: 0.5rem;
    font-size: 0.75rem;
  }
}
